<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asd</title>
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form>
	<legend>Take a move</legend>

	<div class="form-group">
		<label for="from"> From </label>
		<input type="text" class="form-control" name="" id="from" placeholder="Input...">
	</div>

	<div class="form-group">
		<label for="to"> To </label>
		<input type="text" class="form-control" name="" id="to" placeholder="Input...">
	</div>
	<button type="submit" id="move" class="btn btn-primary">Submit</button>
</form>
    </div>
    <div class="col-md-8">
        Turn: <span id="data-turn"></span> <br>
        Off board    B: <span id="data-black">0</span>
        / W: <span id="data-white">0</span> <br>
        <span id="data-cause" style="color: red;"></span> <br>

    </div>
</div>
<style>
    .col-sm-1{
        height: 50px;
        width: 50px;
    }
    .grey{
        background: saddlebrown;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    .white{
        background: sandybrown;
    }
    .low{
        height: 20px;
    }
</style>
<div style="margin: auto; width: 400px">
    <span class="col-sm-1 low">A</span>
    <span class="col-sm-1 low">B</span>
    <span class="col-sm-1 low">C</span>
    <span class="col-sm-1 low">D</span>
    <span class="col-sm-1 low">E</span>
    <span class="col-sm-1 low">F</span>
    <span class="col-sm-1 low">G</span>
    <span class="col-sm-1 low">H</span>


    <div class="row cow" data-row="1">
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
    </div>
    <div class="row cow"  data-row="2">
        2
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
    </div>
    <div class="row cow" data-row="3">
        3
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
    </div>
    <div class="row cow"  data-row="4">
        4
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
    </div>
    <div class="row cow" data-row="5">
        5
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
    </div>
    <div class="row cow"  data-row="6">
        6
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
    </div>
    <div class="row cow" data-row="7">
        7
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
    </div>
    <div class="row cow"  data-row="8">
        8
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
        <div class="col-sm-1 white"></div>
        <div class="col-sm-1 grey"></div>
    </div>

</div>

<script>
    var ws = new WebSocket("ws://localhost:8800/websocket/" + {{ path }});

    ws.onopen = function() {
       console.log('Esatblished connection')
    };

    ws.onmessage = function (evt) {
       var data = JSON.parse(evt.data);
       if (data.success){
           render(data);
       } else {
           document.getElementById('data-cause').innerHTML = data.cause
       }
    };

    $('#move').on('click', function(e){
        e.preventDefault();
        var response = {
            from: $('#from').val(),
            to: $('#to').val()
        };
        $('#from').val('');
        $('#to').val('');
        ws.send(JSON.stringify(response))
    });

    function render (data){
        var first = [1,3,5,7],
            second = [2,4,6,8];

       document.getElementById('data-turn').innerHTML = data.next_move;
       document.getElementById('data-black').innerHTML = data.off_board.B;
       document.getElementById('data-white').innerHTML = data.off_board.W;
       document.getElementById('data-cause').innerHTML = '';


        var raws = document.getElementsByClassName('cow');
        for(var i=0; i< raws.length; i++){
            var raw = raws[i],
                raw_children = raw.getElementsByClassName('col-sm-1');
            for(var j=0; j < raw_children.length; j++){
                if (data.state[i][j] == undefined || data.state[i][j] == 'E'){
                    raw_children[j].innerHTML = '';
                } else {
                    raw_children[j].innerHTML = data.state[i][j];
                }
            }
        }
    }

</script>
</body>
</html>